<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>591138143160-ha0jmaa2pjq39upsj58msivc7pr2qusn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.591138143160-ha0jmaa2pjq39upsj58msivc7pr2qusn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>591138143160-c840t6463skfbehilvd5f96t5m7rent2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCwcISbDaaKuJRRMYwzVqk98muySFsbtG4</string>
	<key>GCM_SENDER_ID</key>
	<string>591138143160</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Ecmmerce</string>
	<key>PROJECT_ID</key>
	<string>e-commerce-7c8ae</string>
	<key>STORAGE_BUCKET</key>
	<string>e-commerce-7c8ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:591138143160:ios:921754fa8dce5bdbdaad4d</string>
</dict>
</plist>